.container__app {
  max-width: 100vw;
  overflow-x: hidden;
  /* background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #36f3ff; */
}

.container {
  background-image: url('../img/bg-pattern.jpg');
}

#root {
  overflow-x: hidden;
}
