/* Helpers */
.global-font__large {
  font-size: 88px;
}
.global-font__medium {
  font-size: 36px;
}
.global-small {
  font-size: 80px;
}
@media screen and (max-width: 1460px) {
  .global-font__large {
    font-size: 44px;
  }
  .global-font__medium {
    font-size: 20px;
  }
  .global-small {
    font-size: 80px;
  }
}
@media screen and (max-width: 680px) {
  .global-font__large {
    font-size: 44px;
  }
  .global-font__medium {
    font-size: 22px;
  }
  .global-small {
    font-size: 10px;
  }
}
