/* Input */
.location-search-input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}
.container__input {
  background: transparent;
  padding: 1em 2em;
  z-index: 10;
}
.container__input input {
  background: transparent;
}
@media screen and (min-width: 680px) {
  .container__input {
    padding: 2em 4em 1em 4em;
  }
  .location-search-input {
    font-size: 28px;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  /* .container__input {
    padding: 2em 4em 0 4em;
  } */
  .location-search-input {
    font-size: 34px;
  }
}
