/* Input */
.location-search-input {
  border: none;
  outline: none;
  font-size: 44px;
  width: 100%;
  background: #64b6ff;
  color: white;
}
.container__input {
  padding: 1em 2em;
  background: #64b6ff;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.77);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.77);
  z-index: 10;
}
@media screen and (max-width: 680px) {
  .container__input {
    padding: 2em 4em 1em 4em;
  }
  .location-search-input {
    font-size: 28px;
    text-align: center;
  }
}
@media screen and (max-width: 1440px) {
  /* .container__input {
    padding: 2em 4em 0 4em;
  } */
  .location-search-input {
    font-size: 34px;
  }
}
