.row {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  padding-left: 2em;
  height: 40vh;
  white-space: nowrap;
}
/* .row__title {
  grid-row: 1;
  grid-column: 1;
}
.row__description {
  grid-column: 1;
} */
.row__info {
  grid-column: 1;
}
.row__cards {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
